body{
    background-image: url(../backgrounds/yellow.jpg);
    background-size: cover;
    background-attachment: fixed ;
    margin: 0px;
}

header .head{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0;
}

nav{
    border-radius: 10px;
    padding: .75rem;
    display: flex;
    justify-content: center;
    gap: 10vw;
    width: 80%;
    align-items: center;
    background-color: rgba(2, 78, 113, 0.58);
    box-shadow: 0 0 1.5em black;
    margin: auto;
}

nav .navitem{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 0.3em;
    transition: 0.3s;
}

nav .navitem:hover{
    transform: scale(1.1);
    background-color: rgba(211, 211, 211, 0.311);
    box-shadow: 0 0 5px black;
}
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        padding: 0.50rem;
        gap: 1rem;
    }
}



